
@font-face {
	font-family:Georgia, serif;
	font-style: normal;
}
body{
	max-width:40em;
	margin:0 auto;
	padding:5px;
	font-family:Georgia,serif;
	font-size:20px;
	line-height:30px;
	background: #000 0 0;
	color:#000
}
h1,h2,h3,dt,small,.small {
	font-family:Georgia, serif;
	font-weight:normal;
	font-style:normal
}
span.url {
	font-family:Georgia,serif;
}
small,.small,footer {
	font-size:0.8em;
	color:#666
}
h1,h2,h3 {
	line-height:1em
}
h1{
	font-size:2em
}
h2 a{
	color:#000;
	text-decoration: underline
}
h2,
h3 {
 margin-top:-0.5em
}
h2 {
  font-size: 1em;
  font-style: italic;
}
a{
	text-decoration:none;
	color:#20b;
	overflow-wrap:break-word;
	word-wrap:break-word
}
a:visited{
	color:#606
}
a:hover{
	text-decoration:underline
}
dt{
	margin-top:2em;
	font-size:1.2em
}
li,dd{
	margin-bottom:1em
}
figure{
	margin:0
}
blockquote{
	margin:2em;
	color:#444
}
pre{
	overflow-x:auto;
	color:#fff;
	background-color:#333;
	padding:0.25em;
	line-height:1
}

img {
	max-width:100%;
	display:block;
	height:auto
}

select{
	height:2.25em;
	border:1px solid #ccc;
	background-color:#fff
}
label{
	margin:0.5em 0 0.2em
}
section{
	margin-bottom:4em
}

@media screen and (max-width: 440px){
	section#masthead h1{
		font-size:2em
	}
	div.presentation_summary img{
		display:block
	}
}
@media screen and (min-width: 440px){
	section#masthead h1{
		font-size:3em
	}
	div.presentation_summary img{
		float:right
	}
}
@media(prefers-color-scheme:dark){
	body{
		background-color: url("../images/bkg.png");
		color:#ccc
	}
	a{
		color:#88f
	}
	a:visited{
		color:#aaf
	}
	.response{
		background-color:#444
	}
	h1,h1 a,h2,h2 a,h3,h3 a,section#masthead h1 a{
		color:#080
	}
}

header h1 {
  font-size: 28px;
  line-height: 1.5;
  margin: 0 auto;
  font-weight: bold;
  font-family: valkyrie_c4, Georgia, serif;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  border:  3px solid green;
 }
#a-title {
  text-decoration: none;
  text-align: center;
}

.navi {
text-decoration: none;
text-align: center;
}

.navlink {

}

table {
  width: 100%;
  margin: 0 0 20px 0;
  color: grey;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
  font-size: 0.8em;
 color: #fff;
 line-height: 1;
}

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

